<div class="data-component">
    <button (click)="getDataOnClick()">GetData</button>
    <h3>Below this we will get the api data</h3>
    <p>Name: <strong>{{gotData.name}}</strong></p>
    <p>Age: <strong>{{gotData.age}}</strong></p>
    <p>Designation: <strong>{{gotData.designation}}</strong></p>
</div>
